body {
  margin: 0px;
}


  .editado {
    /* font-size: 0.8em;
    height: 5em; */

    background-image: url("../img/fondo2.png");
    background-size: contain;
    background-position: center center;
  }

  .editado li a{
    display: inline-block;
    margin-left: 1em;
    color: white;
  }
  #logo {
    width: 110px;
    height: 110px;
  }

  h1 {
    text-align: center;
  }
  h3{
    text-align: center;
  }

  #titulo {
    width: 100%;
    margin-top: 3%;
    color: gray;
  }

  form {
    background-color: #070707;
    margin: 3% auto;
    padding: 1em 2em;
    color: white;
    display: block;

  }
  .form{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 
  .row-a{
    
    padding: 2em 0em;
  }
  .card {
    display: inline-block;
    margin: 0em;
    padding: 0;
    height: auto;
  }
  .img-producto{
    height: 14em;
    width: 10em;
    margin: 0;
    padding: 0;
  }
 
  p {
    margin-top: 0px;
  }

  #hr {
    width: 21em;
    padding-bottom: 0em;
    margin-bottom: -1em;
    border-width: 3px;
    border-style: solid;
    margin: auto;
    margin-top: 3em;
  }

  footer {
    background-image: url("../img/fondo.jpg");
    background-size: 100% 100%;
    height: 14em;
    color: white;
    text-align: center;
  }
  .footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7em;
  }

.altura{
  height: 35em;
}

.myModal{
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
}

.modal_content{
  background-color: dimgray;
  width: 55%;
  margin: 7% auto;
  padding: 10px 20px 30px 20px;
  
  
}

.myModal h1, p{
  text-align: center;
  margin: 0 auto;
}

#img_modal{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 23em;
  margin-bottom: 30px;
}

.myModal button{
  float: right;
}